/*content styling*/


/*granolaPic styling*/

#granolaPic img {
    width: 100%;
    border: 5px solid #CBEBD7;
    border-radius: 10px;
    padding: 10px;
}


/*about styling*/

#content h4 {
    font-family: 'Indie Flower', cursive;
}

#about {
    background-color: #D2EDDB;
    font-weight: bold;
}

#about h4 {
    font-size: 32px;
    margin-top: 12.5%;
}

#about p {
    font-size: 22px;
}

#about img {
    width: 100%;
}

#about a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

#about a:hover {
    text-decoration: underline;
    color: white;
}

#aboutPic {
    background-color: white;
}


/*Recipe Styling*/


/*Ingredients styling*/

table th {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 24px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

td {
    font-size: 22px;
}

tr:nth-child(even) {
    background-color: #CBEBD7;
}


/*Instructions Styling*/

#Instructions {
    text-align: center;
}

#Instructions h4 {
    font-size: 28px;
}

#Instructions ol {
    list-style-position: inside;
    font-size: 22px;
    font-weight: bold;
}

li:nth-child(even) {
    color: #8bd2a6;
}


/*forms styling*/

#forms h4,
#forms p {
    font-size: 23px;
    font-weight: bold;
    color: #8bd2a6;
}

#forms {
    margin-left: 25%;
}

.rate {
    margin-right: 87%;
}


/*ipad view*/

@media screen and (max-width:1024px) {
    #about h4 {
        margin-top: 0%;
    }
    .rate {
        margin-right: 85%;
    }
}

@media screen and (max-width:900px) {
    #aboutPic {
        margin-top: 10%;
    }
    #forms {
        margin-left: 15%;
    }
    .rate {
        margin-right: 79%;
    }
}


/*phone view*/

@media screen and (max-width:760px) {
    /*content styling*/
    #content {
        margin-top: 133px;
    }
    /*granolaPic styling*/
    .col-4 {
        width: 100%;
    }
    /*about styling*/
    .col-6 {
        width: 100%;
    }
    #about h4 {
        margin-top: 0%;
    }
    #about p {
        font-size: 22px;
    }
    #about img {
        width: 100%;
    }
    /*Recipe Styling*/
    /*Ingredients styling*/
    table {
        width: 100%;
        margin-left: 0%;
    }
    th,
    td {
        padding: 0px;
    }
    /*forms styling*/
    textarea {
        width: 100%;
    }
    #forms {
        margin-left: 0%;
    }
    .rate {
        margin-right: 48%;
    }
}